{{ define "main" }}
	<main class="post">
		<article>
			<div class="hero hero--page" style="background-image:url('/images/{{ .Params.featured_image }}')">
				<nav class="page-nav">
					<a class="button small primary page-nav__link" href="{{ .Site.BaseURL }}">Home</a>
					{{ if in .File.Path "posts" }}
					<a class="button small primary page-nav__link" href="/slides{{ .RelPermalink }}">Slides</a>
					{{ end }}
				</nav>
				<h1 class="page-title">{{ .Title }}</h1>
			</div>
			<div class="grid-container">
				<div class="grid-x">
					<div class="cell large-6 large-offset-3 medium-10 medium-offset-1">{{ .Content }}</div>
									
				</div>
			</div>
		</article>
	</main>
{{ end }}
{{ define "scripts" }}
<script src="{{ .Site.BaseURL }}/js/prism.js"></script>
<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
{{ end }}